.login-bg {
  height: 100vh;
  background-color: #30c8e8;
}

.login-container {
  margin-top: 10em;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 10px 3px rgba(59, 74, 79, 0.15);
  -moz-box-shadow: 0 2px 10px 3px rgba(59, 74, 79, 0.15);
  box-shadow: 0 2px 10px 3px rgba(59, 74, 79, 0.15);
}

.login-container .login {
  margin-top: 3em;
  margin-bottom: 5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

.login-container .login .logo {
  margin-bottom: 1em;
}

.login-container .login .form-group input {
  border-radius: 25px;
}

.login-container .login button {
  background-color: #fe4332;
  color: #f7f8fa;
  border-radius: 25px;
}

.login-container .login button:hover {
  background-color: #f4402d;
}

.ct-label {
  font-size: 0.65em;
}
