{% extends 'base.html' %}

{% block style %}
    <link href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <h1 class="text-center">Request real time load</h1>
        <div class="col-sm-12 text-center">
            <div class="btn-group " role="group" aria-label="...">
                <button id="list-view" type="button" class="btn btn-default disabled">List view</button>
                <button id="map-view" type="button" class="btn btn-default">Map view</button>
            </div>
        </div>

        <div id="list-view-div" class="col-sm-12" style="margin-top: 1em;">
            <table id="list-view-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th class="hidden-xs">Location</th>
                    <th class="hidden-xs">Last reading</th>
                    <th>Request</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Name</th>
                    <th class="hidden-xs">Location</th>
                    <th class="hidden-xs">Last reading</th>
                    <th>Request</th>
                </tr>
                </tfoot>
                <tbody>

                {% for container in containers %}
                    <tr>
                        <td>{{ container.name }}</td>
                        <td class="hidden-xs">{{ container.longitude }}, {{ container.latitude }}</td>
                        <td class="hidden-xs">{{ container.last_reading.datetime }}</td>
                        <td class="text-center"><button type="submit" name="{{ container.id }}" class="btn btn-danger btn-sm request-rtl">Request</button></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">RTL for Sintef</h4>
                        </div>
                        <div class="modal-body">
                            <p>The fill level is: <span class="req-rtl"></span></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>

        <div id="map-view-div" class="col-sm-12 hidden">
            <div id="map" class="rtl-map text-center"></div>



        </div>

    </div>

{% endblock %}

{% block script %}
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>

    <script>
        var counter = 0;
        var element = '.request-rtl';

        $(element).click(function(event){

             if(counter == 0) {
                $('.req-rtl').text('11%');
                counter++;
            } else if(counter == 1) {
                $('.req-rtl').text('37%');
                counter = 0;
            }


            var now = new Date().getTime();
            while(new Date().getTime() < now + 900){ /* do nothing */ }

            $('#myModal').modal('show');


        });


    </script>

    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 18.466, lng: -66.118},
                zoom: 10
            });

            var marker = new google.maps.Marker({
                position: {lat: 18.466, lng: -66.118},
                map: map,
                title: 'Hello World!'
            });

            google.maps.event.addListener(marker, 'click', function() {
                $('#myModal').modal('show')
            });
        }
    </script>



    <script>
        $(document).ready(function() {
            $('#list-view-table').DataTable();
        } );

        var list = '#list-view';
        var map = '#map-view';

        var list_div = "#list-view-div";
        var map_div = "#map-view-div";

        $(list).click(function() {
            if(!$(list).hasClass('disabled')) {
                $(list).toggleClass('disabled');
                $(map).toggleClass('disabled');
                $(list_div).toggleClass('hidden');
                $(map_div).toggleClass('hidden');
            }
        });

        $(map).click(function() {
            if(!$(map).hasClass('disabled')) {
                $(map).toggleClass('disabled');
                $(list).toggleClass('disabled');
                $(list_div).toggleClass('hidden');
                $(map_div).toggleClass('hidden');
            }
        });
    </script>

{% endblock %}