{% extends 'base.html' %}

{% block style %}
    <link href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <h1 class="text-center">Container Usage</h1>

        <div id="list-view-div" class="col-sm-12" style="margin-top: 1em;">
            <table id="list-view-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th class="hidden-xs">Location</th>
                    <th class="hidden-xs">Last reading</th>
                    <th class="hidden-xs">Fill grade</th>
                    <th class="hidden-xs">Last emptied</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Name</th>
                    <th class="hidden-xs">Location</th>
                    <th class="hidden-xs">Last reading</th>
                    <th class="hidden-xs">Fill grade</th>
                    <th class="hidden-xs">Last emptied</th>
                </tr>
                </tfoot>
                <tbody>

                {% for container in containers %}
                    <tr>
                        <td>{{ container.name }}</td>
                        <td class="hidden-xs">{{ container.location }}</td>
                        <td class="hidden-xs">{{ container.last_reading }}</td>
                        <td class="hidden-xs">
                            <div class="progress">

                                <div class="progress-bar progress-bar-{{ container.fill_level }} progress-bar-striped" role="progressbar" aria-valuenow="{{ container.fill_grade }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ container.fill_grade }}%">
                                    <span class="sr-only">{{ container.fill_grade }}%</span>{{ container.fill_grade }}%
                                </div>
                            </div>
                        </td>
                        <td class="hidden-xs">{{ container.last_empty }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}

{% block script %}
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>

    <script>
        var counter = 0;
        var element = '.request-rtl';

        $(element).click(function(event){

            if(counter == 0) {
                $('.req-rtl').text('1%');
                counter++;
            } else if(counter == 1) {
                $('.req-rtl').text('55%');
                counter = 0;
            }


            var now = new Date().getTime();
            while(new Date().getTime() < now + 900){ /* do nothing */ }

            $('#myModal').modal('show');


        });


    </script>

    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 18.466, lng: -66.118},
                zoom: 10
            });

            var marker = new google.maps.Marker({
                position: {lat: 18.466, lng: -66.118},
                map: map,
                title: 'Hello World!'
            });

            google.maps.event.addListener(marker, 'click', function() {
                $('#myModal').modal('show')
            });
        }
    </script>



    <script>
        $(document).ready(function() {
            $('#list-view-table').DataTable();
        } );

        var list = '#list-view';
        var map = '#map-view';

        var list_div = "#list-view-div";
        var map_div = "#map-view-div";

        $(list).click(function() {
            if(!$(list).hasClass('disabled')) {
                $(list).toggleClass('disabled');
                $(map).toggleClass('disabled');
                $(list_div).toggleClass('hidden');
                $(map_div).toggleClass('hidden');
            }
        });

        $(map).click(function() {
            if(!$(map).hasClass('disabled')) {
                $(map).toggleClass('disabled');
                $(list).toggleClass('disabled');
                $(list_div).toggleClass('hidden');
                $(map_div).toggleClass('hidden');
            }
        });
    </script>

{% endblock %}