@import "config";


.map-fifty {
  width: 100%;
  min-height: 400px;
  max-height: 500px;
  margin-bottom: 1em;
}


.select-route {

  .area-form {

  }


}


#map-view-div {
  .rtl-map {
    min-height: 400px;
    width: 100%;
  }
}