@import "config";


.map-fifty {
  width: 100%;
  min-height: 300px;
  max-height: 500px;
  margin-bottom: 1em;
}


.select-route {
  border-right: 1px solid #d7d7d7;
}


#map-view-div {
  .rtl-map {
    min-height: 400px;
    width: 100%;
  }
}